name: Automatic Release

on:
  push:
    tags:
      - 'V[0-9]*'

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Ensure tag is from main
        run: |
          git fetch origin main
          git merge-base --is-ancestor $GITHUB_SHA origin/main

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
