name: Automatic Release

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Extract version from commit title
        id: version
        run: |
          VERSION=$(echo "${{ github.event.head_commit.message }}" | head -n 1)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Ensure commit is a release
        run: |
          [[ "${{ steps.version.outputs.version }}" =~ ^V[0-9]+(\.[0-9]+)*$ ]]

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.version.outputs.version }}
          name: Release ${{ steps.version.outputs.version }}
          draft: false
          prerelease: false
